<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>53372143848-94n26i58du8hu6264bgs5psqdhdl94d8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.53372143848-94n26i58du8hu6264bgs5psqdhdl94d8</string>
	<key>API_KEY</key>
	<string>AIzaSyDobgxPtX-UMXJDbkEDCcaaTtkOiFBEmo4</string>
	<key>GCM_SENDER_ID</key>
	<string>53372143848</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.chronicle.chronicle</string>
	<key>PROJECT_ID</key>
	<string>chronicle-86dce</string>
	<key>STORAGE_BUCKET</key>
	<string>chronicle-86dce.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:53372143848:ios:21cfaceebfbea7c3b8615d</string>
</dict>
</plist>